@font-face {
    font-family: good;
    src: url(asset/GeneralSans-Medium.otf);
}
*{
    font-family: good;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    width: 100%;
    overflow-x: hidden;
}
body{
    width: 100%;
    overflow-x: hidden;
}
.landpage{
    background: url(asset/Background.png);
    width: 100vw;
    min-height: 100vh;
    background-repeat: none;
    background-size: 100% 100%;
    overflow:hidden;
}
.nav a{
    text-decoration: none;
    color: black;
    height: 100%;
    /* width: 100%; */
    display: flex;
    align-items: center;


}
.nav{
    display: flex;
    align-items: center;
    width: min(1150px,100%);
    height: 150px;
    margin: auto;
    position: sticky;
    z-index: 900;
    justify-content: space-between;
}
.navitem{
    display: flex;
    background-color: rgba(111, 68, 54, 0.8);
    height: 40px;
    border-radius: 20px;
    overflow: hidden;
}
#li{
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 18px;
    height: 40px;
    /* background-color: white; */
}
#li:hover{
    background-color: rgba(207, 201, 201, 0.687);
}
.menubtn{
    height: 30px;
    position: absolute;
    right:9px ;
    top: 30px;
    display: none;
}
.navbtn{
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid rgb(5, 4, 4);
    font-size: 13px;
    margin-right: 70px;
}
.navbtn:hover{
    background-color: rgba(111, 68, 54, 0.8);
}

.mainitem{
    /* background-color: yellow; */
    display: flex;
    height: 400px;
    width: min(1053px,76vw);
    margin: 9vh auto;
    position: relative;

}
.mainitem-text{
    /* background-color: #813441; */
    width: 60%;
}
.text{
    font-size: 3.2rem;
    margin-top: 60px;

}
.text2{
    margin-top: 14px;
    max-width: 400px;
}
.cake_imege{
    position: absolute;
    height:628px;
    bottom: 5px;
    right: 216px;
    bottom: 255px;
    transform: translate(50% ,50%);
}
.btn{
    margin-top: 35px;
    margin-bottom: 20px;
     display: flex;
     align-items: center;
     gap: 10px;
    
}
.btn button{
    padding: 10px 10px;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid black;
    display: flex;
    align-items: center;
}
.btn button:hover{
    background-color: rgba(111, 68, 54, 0.8);
}
.btn :nth-child(2){
    /* background-color: red; */
    padding: 9px 10px;
    gap: 2px;
}



/* about */

.about{
    width: 100%;
    min-height:100vh ;
    background-color:rgba(255, 248, 214, 0.6) ;
}

.aboutitem{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90%;
    margin: auto;
}

.aboutimg{
    height: min(500px , 40vw);
}
.secondtext{
    font-size: 20px;
}

.aboutinfo{

}
.aboutinfo p{
    opacity: .7;

}
.aboutinfo h2{
    margin-top: 130px;
    font-size: 40px;
}
.aboutbtn{
    margin-top: 30px;
}
.aboutbtn button{
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid black;
}
.aboutbtn button:hover{
    color: white;
    background-color: rgba(106, 64, 40, 1);
}


/* manu section  */

.manu{
    background-image: url(asset/Background3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.manuitem{
    display: grid ;
    place-items: center;
    width: min(800px,90%);
    height:fit-content ;
    grid-template-columns: repeat(3,250px);
    overflow-x: scroll;
    gap: 15px;
    margin-top: 40px;
    position: relative;
}
.mentitle{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: min(10vw,64px);
    font-family: 'Inika', serif;
    color: rgba(106, 64, 40, 1); 

}
.card{
    width: 250px;
    min-height: 280px;
    border-radius: 20px;
    overflow: hidden;
    background-color: rgb(251, 250, 228);
    border: 3px solid black;
    position:relative;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.manutext{
    padding: 10px;
    margin-top: 10px;
    position: absolute;
    bottom: 0;
        width: 100%;
}
#foodname{
    font-size: 20px;
}
#foodabout{
    font-size: 13px;
    opacity: .7;
}
.price{
    display: flex;
    justify-content: space-between;
    padding: 15px 0 0 0;
}
#price{
    font-size: 20px;
}
#price span{
    color: green;
}
.star{
    font-size: 34px;
}
.more{
    width: fit-content;
    cursor: pointer;
}

.more2{
    display: none;
    cursor: pointer;
    text-decoration: none;
    color: black;
} 
.more1{
    display: block;
    text-decoration: none;
    color: black;
}
@media (max-width:1120px) {

    .nav{
        /* max-width: 95%; */
        /* background-color: red; */
    }
    .mainitem{
        width: 90%;
    }
    .cake_imege{
        height: 466px;
        right: 18vw;
    }
    .text{
        font-size: 2.4rem;
    }
}
@media (max-width:830px) {
    .aboutinfo h2{
        font-size: 30px;
    }
    .aboutinfo p{
        font-size: 12px;
    }
}

@media (max-width:700px) {
    .menubtn{
        display: block;
        z-index: 999;
    }    
    .navbtn{
        position: absolute;
        right: 0px;
        top: 29px;
    }
    .nav{
        /* width: 100%;
        margin: 0;
        position: inherit; */
    }
    .navitem{
        position: absolute;
        width: 100%;
        border-radius: 0;
        top: 0;
        height: 80vh;
        display: grid;
        place-content: center;
        gap: 20px;
        font-size: 20px;
        grid-template-rows: repeat(4 , 40px);
        transform:translateY(-100%);
        transition: all ease .3s;
    }
    .nav ul li{
        width: 100vw;
        justify-content: center;
        height: 45px;
        /* background-color: red; */
    }
    .nav a{
        width: 100%;
        height: fit-content;
    }
    .logo{
        position: absolute;
        z-index: 999;
        height: 107px;
        left:10px ;
        top: -10px;
    }
    .erase{
        transform: translateY(0);
    }
    .mainitem{
        /* margin: 0 0; */
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin: 0 0;
        position: absolute;
        top: 0;
        /* justify-content: center; */
    }
    .mainitem-text{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        
    }
    .cake_imege{
        /* top: -20vh; */
        transform: translate(0 , 0);
        /* left: 50%; */
        position: inherit;
        height: min(120vw,54vh);

    }
    .logo{
        left: -2px;
    }

    .text{
        /* margin-top: min(278px ,70vw); */
        font-size: min(38px , 7vw);
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 0;

    }
    .text2{
        font-size: 14px;
        width: 70%;
        opacity: .7;
    }

    /* about */

    .aboutitem{
        flex-direction: column;
        margin: 0;
        width: 100%;
    }
    .aboutinfo{
        width: 90%;
    }
    .aboutinfo h2{
        margin-top: 10px;
    }
    .aboutimg{
        height: 60vw;
    }
    .aboutinfo h2{
        font-size: 8vw;
        margin-left: 3vw;
    }
    
    .aboutinfo p{
        margin-left: 2vw;
    }
    .secondtext{
        font-size: 5vw;
    }
    .aboutbtn{
        display: flex;
        justify-content: center;
    }

    /* manu */
    .card{
        width: 250px;
        min-height: 280px;
    }
    #foodname{
        font-size: 20px;
    }
    #foodabout{
        font-size:11px;
    }
    .filterbtn{
        position: absolute;
    }
}
 
@media (max-width:530px) {
    .more1{
      display: none;
    } 
    .more2{
        display: block;
    }
     
}


/*  more menu  */
.container{
    width: 100%;
    min-height: 100vh;
    background-image: url(asset/Background.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* align-items: center */
    

}
.containeritem{
    max-width: 1040px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.menucard{
    border: 2px solid black;
    height: 250px;
    width: 250px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(254, 249, 192);
    border-radius: 20px;
    overflow: hidden;
}
.manuinfo{
    padding: 0 10px;
    width: 100%;
}
#manuinfo-name{
    font-size: 1.4rem;
    height: 33px;
    overflow-x: scroll;
    /* height: ; */
}
#maininfo-about{
    font-size: .7rem;
    opacity: .7 ;
    width: 100%;
    height: 30px;
    overflow: hidden;
}
.maininfo-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 30px; */
    font-size: 30px;
    padding-top: 3px;
}

.filterbtn{
    right: 40px;
    top: 30px;
    border: 1px solid black;
    padding: 3px 9px;
    border-radius: 10px;
    margin-right: 20px;
    cursor: pointer;
}
.filterbtn:hover{
    background-color: rgba(106, 64, 40, 1);
    color: white;
}
.rating{
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
}
.imege img{
    height: 120px;
}